Host *
  StrictHostKeyChecking no
  ControlMaster auto
  ControlPath ~/.ssh/%r@%h:%p
  ControlPersist 10m
  IdentityFile credentials/comhis.pem
  User cloud-user

Host frontend
  HostName {{ hostvars['frontend']['ansible_ssh_host']}}

{% for node in groups['all'] %}
{% if (node != 'frontend') %}
Host {{ node }}
  HostName {{ hostvars[node]['ansible_ssh_host']}}
  ProxyJump frontend
{% endif %}
{% endfor %}
