Host *
  StrictHostKeyChecking no
  ControlMaster auto
  ControlPath ~/.ssh/%r@%h:%p
  ControlPersist 10m
  IdentityFile credentials/comhis.pem
  User cloud-user

{% for node in groups['frontend'] %}
Host {{ node }}
  HostName {{ hostvars[node]['ansible_ssh_host']}}
{% endfor %}

{% for node in groups['all'] %}
{% if (node not in groups['frontend']) %}
Host {{ node }}
  HostName {{ hostvars[node]['ansible_ssh_host']}}
  ProxyJump frontend
{% endif %}
{% endfor %}
